header {
    display: flex;
    background-color: rgb(190, 5, 5);
    color: #f8f9fa;
    padding: 1rem;
    font-size: 1.8rem;
    align-items: center;
    justify-content: center;
}

.header__title {
    font-size: 3rem;
    font-weight: bold;
    justify-self: center;
}

.header__menu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1rem;
    cursor: pointer;
}

.header__link {
    color: #f8f9fa;
}

.header__link:hover {
    color: black;
}